html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 260px;
}
.responsive-img {
  width: 100%;
  height: auto;
}
/*
 * Header
 */
header {
  background-color: #343A40;
}
.navbar {
  padding-left: 0;
  padding-right: 0;
}
/* header .active { */
/*   border-bottom: 2px solid #fff; */
/* } */
/*
 * Home page
 */
.jumbotron {
  color: #989B9E;
  background: #2B3137;
  border-radius: 0;
}
.jumbotron h1 {
  color: #fff;
  font-weight: lighter;
}
.jumbotron .lead {
  font-size: 1.9em;
}
.slogan-title {
  font-size: 5em;
}
.allgo-pipes {
  color: #FF6600;
}
.allgo-stats {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em 0;
}
.allgo-data {
  display: block;
  font-size: 3em;
  color: #2B3137;
  font-weight: lighter;
}
.allgo-data-title {
  display: block;
  text-transform: capitalize;
  color: rgb(108, 122, 137);
}
.home-page-cards {
  margin: 2em 0;
}
.home-page-cards .card {
  margin-bottom: 1em;
  border: none;
}
.home-page-cards .card .card-icon {
  display: block;
  float: left;
  font-size: 2em;
  color: #586069;
}
.card-content {
  margin-left: 3em;
}

.home-page-cards .card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}
/*
 * Common
 */

.allgo-page {
  margin: 3em 0;
}
form {
  margin-top: 1em;
}
form label {
  font-weight: bold;
}
.alert {
  margin: 0;
}
a {
  color: #0366D6;
}

/*
 * Footer
 */
.footer {
  position: absolute;
  bottom: 0;
  height: 250px;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
.footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.footer a, .footer .copyright {
    color: #d2d1d1;
    text-decoration: none;
}
.footer a:hover, .footer a:focus {
    text-decoration: none;
    color: white;
}

/*
 * Webapp list
 */
.pagination {
  margin: 2em 0;
}
.app-card {
  margin: 1.5em 0;
}
.app-card img {
  margin: 1em 0;
  opacity: 0.1;
}
.app-title {
}
.app-description {
  margin-bottom: 0.5em;
}
.app-tags .badge-secondary {
  background: #DDEEFF;
  padding: 0.5em;
  color: #0668D6;
}
.app-tags .badge-secondary:hover {
  background: #D7E3F4;
  color: #0668D6;
}
.title-page {
  color: #2A2F34;
  margin-bottom: 2em;
}

/*
 * Signup
 */
.gitlab:before {
  content: "\f296";
  padding-right: 1em;
  font-family: FontAwesome;
}

.ssh-keys {
  margin: 2em 0;
}
.ssh-key {
  font-size: 1.8em;
  float: left;
  padding-right: 1em;
  text-align: center;
  margin: 0;
}
.ssh-key span {
  display: block;
  font-size: 0.5em;
  border: 1px solid rgb(200, 200, 200);
  padding: 0 0.5em;
}
.breadcrumb-bg {
  background: #E9ECEF;
}
.breadcrumb {
  margin-bottom: 0;
  border-radius: 0;
}
.card-webapp {
  margin-bottom: 1em;
}
.card-webapp .card-img-top {
  margin-top: 1em;
  max-width: 50px;
  max-height: 50px;
  /* border: 1px solid rgb(200, 200, 200); */
}
.card-webapp .card-subtitle {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}
.card-webapp .navbar {
  margin: 0;
  z-index: 2;
}
.card-webapp .card-header, .card-webapp .card-footer {
  background: #fff;
}
.card-webapp .navbar {
  margin: 0;
  padding: 0;
  margin-top: -3.6em;
  z-index: 100;
}
.card-webapp .nav {
  margin: 0;
  padding: 0;
} 
.card-webapp .nav-link {
  font-size: 2.5em;
}
.card-webapp .card-footer, .card-webapp .card-footer ul {
  padding: 0.5em;
  margin: 0;
}
.card-webapp .card-footer ul  li {
  padding-bottom: 0.5em;
}
.app-unfinished {
  color: #B33A3A;
}
.app-unfinished:hover {
  color: #6A2828;
}

/* JOB DETAIL */
.page-title {
  margin-bottom: 3em;
}

/* pictogram color scheme */
.picto-blue {
  color: rgba(83, 147, 178, 1);
}
.picto-orange {
  color: rgba(249, 163, 38, 1);
}
.picto-green {
  color: rgba(53, 136, 72, 1);
}
.picto-red {
  color: rgba(170, 23, 45, 1);
}
.picto-yellow {
  color: rgba(232, 200, 40, 1);
}

/* ALERT MESSAGES */
.alert-container {
  margin: 0;
  padding: 0;
}
.alert {
  border: none;
  padding-left: 0;
}
.webapp-tags-update {
  width: 100%;
}

/* font-awesome disabled buttons
 *
 * bootstrap defines the 'disabled' class for <a> elements but only if they
 * have the 'btn' class
 *
 * a (probably) better alternative would be to use a bootstrap 'btn' button
 * with a fa icon inside
 */
a.fa-layers.disabled:not(.btn) {
  opacity: 0.65;
  pointer-events: none;
}

@media (max-width: 576px) { 
  body {
    margin-bottom: 0;
  }
  .slogan-title {
    font-size: 3em;
  }
  .slogan {
    font-size: 0.5em;
  }
  .footer {
    position: relative;
    height: 100%;
  }
}
