#about
{
  font-size: 0.6em;
  text-align: center;
}

#banner
{
  background-color: #343A40;
  margin-bottom: 5em;
}

#banner ul
{
  list-style-type: none;
  margin:  0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(33,37,41);
  position: fixed;
  top: 0;
  width: 100%;
}

#banner li a
{
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  color:rgba(255,255,255,0.5);
}

#banner li {
  float: left;
  line-height: 50px; /* hauteur du logo allgo */
}

#banner .right
{
  float: right;
}

#content
{
  text-align:left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
/*
  background-color: #02a;
*/
}

/* ================= */
body
{
  margin: 0;
}

section
{
  padding:1em;
  margin-bottom:250px; /* height of the footer */
}

/* ================= */
.entry-title
{
  font-size: 2em;
  background-color: #fff;
  color:rgba(255,255,255,0.5);
}

.post-info
{
  font-size: 0.8em;
}
