<footer class="footer container-fluid w-100 bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>A<span class="allgo-pipes">||</span>Go</h5>
        <ul>
          {# hard coded, but maybe useless as well done in <head> #}
          <li>
            <a type="application/atom+xml" href="/feeds/all.atom.xml">
              <img src="https://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg"
                width="12px" height="12px" alt="atom feed logo">
              Follow us
            </a>
          </li>
        </ul>
      </div>
<!--
      <div id="footer_spacer" class="col-sm-3">
      </div>
-->
      <div class="col-sm-3">
        <h5>A||Go</h5>
        <ul>
          <li><a href="https://allgo18.inria.fr">Working site</a></li>
          <li><a href="https://gitlab.inria.fr/allgo">Gitlab - code</a></li>
          <li><a href="https://allgo.gitlabpages.inria.fr/doc/">Documentation</a></li>
          <li><a href="https://gitlab.inria.fr/allgo/allgo.inria.fr/issues">Report an issue</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="https://wiki.inria.fr/sed_ren/">/SED/</a></li>
          <li><a href="mailto:allgo@inria.fr">Contact</a></li>
        </ul>
      </div>
    </div>
    <div>
      <a href="https://inria.fr"><img class="float-left" src="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/inria.png"></a>
      <a href="https://www.irisa.fr"><img class="float-right" src="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/irisa.png"></a>
    </div>

    <address id="about">
      Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
      which takes great advantage of <a href="http://python.org">Python</a>.
    </address><!-- /#about -->

  </div>
</footer>
