<header id="banner">
  <nav>
    <ul>
      <li>
        <a href="https://allgo18.inria.fr">
          <img src="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/logo-allgo.png" width="50px" height="50px" alt="allgo logo">
        </a>
      </li>
          
      <li><a href="{{SITEURL}}/">{{ SITENAME }} {{ SITESUBTITLE }}</a></li>
<!--
    </ul>
    <ul>
-->
    <!--FIXME comment est rempli MENUITEMS:
    -> sortir about
    tous les fichiers html de content ?
    -->
      {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}

    <!-- from the right to the left ? -->
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
          <li class="right{% if p == page %} active{% endif %}">
            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
          <li class="right{% if cat == category %} active{% endif %}">
            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
</header><!-- /#banner -->
