<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css">
<!-- Not used yet
      <link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/fontawesome-all.min.css">
      <link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/prism.css">
-->
      <link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/allgo.css">
      <link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/blog.css">
  
      {% include "_feed.html" %}
    {% endblock head %}
  </head>

  <body>
    {% include "_header.html" %}

    {% block content %}
      <!-- here comes the article content -->
    {% endblock %}
    {% include "_footer.html" %}
  </body>
</html>
